@model List<BeeLearn.Models.Student>;

@{
        <table id="tblStudent" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th><button type="submit" id="Approved" class="btn btn-primary text-white" />  Approved</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>State</th>
                    <th>User Name</th>
                    <th>Password</th>
                    <th>Confirm Password</th>
                    <th><button type="submit" id="ApprovedAll" class="btn btn-warning text-white" />  Select All</th>
                    <th>Action</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table> 
}
@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $.ajax({
                type: "Post",
                url: "/Home/StudentListData",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: function (response) {
                    console.log('fail');
                    alert(response.d);
                },
                error: function (response) {
                    console.log('error');
                    alert(response.d);
                }
            });
        });

        function OnSuccess(response) {
            console.log(response);
            var oTable = $("#tblStudent").DataTable(
                {
                    bLengthChange: true,
                    lengthMenu: [[5, 10, 15], [5, 10, "All"]],
                    bFilter: true,
                    bSort: true,
                    bPaginate: true,
                    data: response,
                    columns: [
                        { 'data': 'id' },
                        { 'data': 'firstName' },
                        { 'data': 'lastName' },
                        {
                            'data': 'dob',
                            "render": function (data) {
                                var date = new Date(data);
                                return date.toLocaleDateString();
                            }
                        },
                        { 'data': 'gender' },
                        { 'data': 'state' },
                        { 'data': 'userName' },
                        { 'data': 'password' },
                        { 'data': 'confirmPassword' },
                        {
                            "mData": null,
                            "bSortable": false,
                            "mRender": function (o) { return '<input type=checkbox value="' + o.id+'" name="Approve" >'; }
                        },
                        {
                            "mData": null,
                            "bSortable": false,
                            "mRender": function (o) { return '<a class="btn btn-info" href="/Home/Edit/' + o.id + '">' + 'Edit' + '</a>'; }
                        },
                        {
                            "mData": null,
                            "bSortable": false,
                            "mRender": function (o) { return '<a class="btn btn-danger" href="/Home/Delete/' + o.id + '">' + 'Delete' + '</a>'; }
                        },
                        {
                            "mData": null,
                            "bSortable": false,
                            "mRender": function (o) { return '<a class="btn btn-success" href="/Home/Download/' + o.id + '">' + 'Download' + '</a>'; }
                        }
                    ]
                });
        };
        $('#ApprovedAll').click(function (e) {
            if ($(this).hasClass('checkedAll')) {
                $('input').prop('checked', false);
                $(this).removeClass('checkedAll');
            } else {
                $('input').prop('checked', true);
                $(this).addClass('checkedAll');
            }
        });

        $(document).ready(function () {
            $('#Approved').click(function () {
                var store = $('input[type="checkbox"]:checked');
                var string = store.length+' ' + "checkbox checked"+' ';
                if (store.length > 0) {
                    store.each(function () {
                        string += $(this).val()+' ';
                    });
                    alert(string);
                }
                else
                {
                    alert("No Checkbox Checked.");
                } 
            });
        });          
    </script>
}

